<app-example></app-example>
<!-- <form [formGroup]="reactiveform">
    
    <div class="content" role="main" style="background-color: #CCC; padding: 10px; min-height: 220px; margin-left: 200px; margin-right: 150px;">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center;">Register User</h3>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">User Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-control" formControlName="username" >
                    <span *ngIf="f['username'].getError('required')!=null" class="errormessage"> user name required</span>
                    <span *ngIf="f['username'].getError('minlength')!=null" class="errormessage">username should be atleast 6 letter</span>

                </div>

            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for=""> Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-control"  formControlName="password">
                    <span *ngIf="f['password'].getError('required')!=null" class="errormessage"> password required</span>


                </div>

            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">Confirm Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-control" formControlName="conpassword">
                    <span *ngIf="f['conpassword'].getError('required')!=null" class="errormessage">Confirm  password required</span>
                    <span *ngIf="f['conpassword'].getError('Mustmatch')!=null" class="errormessage">Password mismatched</span>



                </div>

            </div>
            



        </div>


    </div>
</form> -->
<app-input></app-input>